.css-kcwvrz-MuiStack-root{
    flex-direction: column !important;
    gap: 1em;
    align-items: center;
}
.css-kcwvrz-MuiStack-root>.MuiTextField-root, .css-kcwvrz-MuiStack-root>.MuiPickersTextField-root{
    margin-top: 0.5em;
}
.css-1scrdjy{
    margin-left: 0px !important;
    background-color: transparent !important;
}
.css-1hxdzvw-MuiButtonBase-root-MuiButton-root{
    color: #00C3A5 !important;
    background-color: white !important;
}
.css-1hxdzvw-MuiButtonBase-root-MuiButton-root:hover{
    background-color: #cbcbcb !important;
}

.css-lqwr9g-MuiPickersOutlinedInput-notchedOutline{
    border-color: #ffffff !important;
}

.content p{
    font-size: 0.9rem;
}

.content button {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    margin-right: 0.1rem;
    padding: 0.65vw;
    border-radius: 2.5vw;
    border: none;
    background-color: #279281;
    cursor: pointer;
    margin-top: 0%;
}

.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #ffffff;
}
.css-1chuxo2-MuiPickersCalendarHeader-label{
    color: #279281 !important;
    font-weight: bold !important;
}
.css-14yom7c-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon{
    fill: #333 !important;
}
.css-xp4e7m-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button.Mui-disabled{
    background-color: #00c3a5 !important;
}
.css-1bsiu4i-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
    background-color: #00c3a5 !important;
}
.css-15umtxl-MuiPickersArrowSwitcher-root{
    gap: 0.125em !important;
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: white !important;
}
.css-xp4e7m-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
    background-color: #00c3a5 !important;
}